@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));

#root {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  overflow-x: hidden;
}

body.dark {
  background-color: black;
}

body.light {
  background-color: white;
}

.red-gradient {
  background: radial-gradient(
    circle,
    rgba(253, 21, 19, 0.6) 0%,
    rgb(0, 0, 0) 50%
  );
}

/* Sign Up */
form input {
  height: 35px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: white;
}

.slick-dots li button:before {
  color: red;
}

.slick-dots li.slick-active button:before {
  color: blue;
}

.movie-carousel .slick-dots li button:before {
  color: white !important;
  transform: translateY(-40px);
}

.slick-dots li.slick-active button:before {
  color: white !important;
}

/* Next Slider Button */
/* Ensure next button is visible in light mode */
.light button.slick-arrow.slick-prev::before {
  color: rgb(66, 66, 66) !important;
}

.light button.slick-arrow.slick-next::before {
  color: rgb(66, 66, 66) !important;
}

@media (max-width: 500px) {
  .imgBanner {
  }
}

@media (min-width: 1100px) {
  .seats-container {
    overflow-x: hidden;
  }
}

/* Scroll Bar */
/* Default (Dark Mode) *

/* Default (Dark Mode) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #9f9f9f; /* Dark thumb color (gray-600) */
  border-radius: 8px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #2c2c2c; /* Dark track color (gray-800) */
}

/* Light Mode */
.light html::-webkit-scrollbar-thumb,
.light body::-webkit-scrollbar-thumb {
  background-color: #8b8b8b; /* Light thumb color (gray-400) */
}

.light html::-webkit-scrollbar-track,
.light body::-webkit-scrollbar-track {
  background-color: #ffffff; /* Light track color (gray-200) */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9f9f9f; /* Dark thumb color (gray-600) */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #2c2c2c; /* Dark track color (gray-800) */
}

/* Light Mode */
.light .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #8b8b8b; /* Light thumb color (gray-400) */
}

.light .custom-scrollbar::-webkit-scrollbar-track {
  background-color: #fcfcfc; /* Light track color (gray-200) */
}
