@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));

#root {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

body.dark {
  background-color: black;
}

body.light {
  background-color: white;
}

.red-gradient {
  background: radial-gradient(
    circle,
    rgba(253, 21, 19, 0.6) 0%,
    rgba(22, 22, 22, 0) 50%
  );
}

/* Sign Up */
form input {
  height: 35px;
}
