@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  max-width: 900px;
  margin: 0 auto 0 auto;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.red-gradient {
  background: radial-gradient(
    circle,
    rgba(253, 21, 19, 0.6) 0%,
    rgba(22, 22, 22, 0) 50%
  );
}
