@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));

#root {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  overflow-x: hidden;
}

body.dark {
  background-color: black;
}

body.light {
  background-color: white;
}

.red-gradient {
  background: radial-gradient(
    circle,
    rgba(253, 21, 19, 0.6) 0%,
    rgb(0, 0, 0) 50%
  );
}

/* Sign Up */
form input {
  height: 35px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: white;
}

.slick-dots li button:before {
  color: red;
}

.slick-dots li.slick-active button:before {
  color: blue;
}

.movie-carousel .slick-dots li button:before {
  color: white !important;
  transform: translateY(-40px);
}

.slick-dots li.slick-active button:before {
  color: white !important;
}

/* Next Slider Button */
/* Ensure next button is visible in light mode */
.light button.slick-arrow.slick-prev::before {
  color: rgb(66, 66, 66) !important;
}

.light button.slick-arrow.slick-next::before {
  color: rgb(66, 66, 66) !important;
}

@media (max-width: 500px) {
  .imgBanner {
  }
}

@media (min-width: 1100px) {
  .seats-container {
    overflow-x: hidden;
  }
}
